#mainPage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  cursor: pointer;
}

/* left side */
#profile {
  position: absolute;
  top: 0;
  left: -25%;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  opacity: 0;
  overflow: hidden;
}

.background-image1 {
  position: absolute;
  top: 0;
  right: -25%;
  bottom: 0;
  transform: skewX(15deg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-image: url(../../../static/images/studyBook.jpg);
}

/* 링크 버튼 */
#profileTitle {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 48px;
  font-weight: 400;
  color: white;
  text-decoration: none;

  border: 1px solid white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
#profileTitle:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  transition: all 0.4s ease-out;
}

/* right side */

#myWork {
  position: absolute;
  top: 0;
  right: -25%;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  opacity: 0;
  overflow: hidden;
}

#myWork:hover {
  opacity: 1;
}

.background-image2 {
  position: absolute;
  top: 0;
  left: -25%;
  bottom: 0;
  transform: skewX(15deg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-image: url(../../../static/images/cording1.jpg);
}

/* 링크 버튼 */
#myWorkTitle {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 48px;
  font-weight: 400;
  color: white;
  text-decoration: none;

  border: 1px solid white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
#myWorkTitle:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  transition: all 0.4s ease-out;
}
