.cursor,
.follow {
  position: absolute;
  pointer-events: none;
  width: 0.4rem;
  height: 0.4rem;
  transform: translate(-50%, -50%);
}

.cursor {
  background-color: white;
  border-radius: 100%;
}

.follow {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  filter: blur(1px);
  border-radius: 100%;
  transition: all 0.3s ease-out;
}

.follow.on-focus {
  transform: translate(-50%, -50%);
  border-radius: 0%;
  padding: 0;
}
